/* General Body Styling */
body {
    font-family: Calibri, sans-serif;
    background-color: #f4f4f9; /* #f8f9fa; */
    margin: 0;
    padding: 0;
    padding-top: 70px; /* Adjust this value based on the actual height of your navbar */

}

h1 { font-family: Calibri; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

.uncentered {
    text-align: left;
}

.unstyled-link {
    text-decoration: none; /* Removes underline */
    color: black;
}

/* Optional: To override browser-specific styles */
.unstyled-link:visited, .unstyled-link:hover, .unstyled-link:active, .unstyled-link:focus {
    text-decoration: none; /* No underline for any state */
    color: inherit; /* Inherits color from parent element */
}

h1 {
    margin-top: 10px;
}

/* Navbar Styling */
.navbar {
    transition: top 0.4s ease-in-out;
}

.navbar .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    margin: 0 auto;
}

h1:hover {
    color: #5cb85c;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #5cb85c;
}

/* FILTERS event_list.html container */
.filters-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px; /* Match the width of the event cards container */
    margin: 0 auto; /* Center the filters */
    padding: 10px; /* Add some padding */
}

#filters-container input,
#filters-container button,
#filters-container a {
    flex-grow: 1; /* Make each filter take up available space */
    max-width: 250px; /* Optional: limit the width */
    margin: 5px;
    vertical-align: middle;
}

/* Ensure filters stack on smaller screens */
@media (max-width: 768px) {
    .filters-container {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 10px;
    }
}

/* FORM STYLING */
.form-label {
    font-weight: bold;
    color: #555;
}

.form-control {
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    max-width: 500px;
    margin: 0 auto;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 50px;
}

/* Container Styling */
.container-main {
    max-width: 100%; /* Take the full width on smaller screens */
    width: 90%; /* Keep cards centered with padding */
    margin: 0 auto;
    padding: 5px 5px;
}

/* Row and Card Layout */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Space between cards */
    justify-content: center; /* Center cards in the row */
}

/* Event Card Styling */
.event-card {
    max-width: 400px; /* Wider on larger screens */
    box-sizing: border-box;
}

@media (min-width: 576px) {
    .event-card {
        flex: 1 1 calc(50% - 30px); /* Two cards per row for tablets and up */
    }
}

@media (min-width: 992px) {
    .event-card {
        flex: 1 1 calc(33.333% - 30px); /* Three cards per row on desktops */
    }
}

/* Card Styling */
.card {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding-top: 10px; /* Prevent margin collapse */
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    padding-bottom: 3px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 1.25rem; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; 
}

.card h2 {
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
}

.card h3 {
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

.card-text {
    font-size: 0.9rem;
    color: #555;
}

.card-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
    margin-top: auto;
    padding: 15px;
    text-align: left;
}

.card-calendar-links {
    margin-top: auto;
    padding: 10px 0;
    text-align: left;
    align-items: left;
}

.card-footer .btn {
    width: 100%;
}

.card-title-container {
    display: flex;
    justify-content: space-between; /* Align items to the left and right */
    align-items: center; /* Vertically align the title and icon */
}

.card-title-container .card-title {
    margin: 0; /* Remove any default margin for alignment */
    font-size: 1.25rem; /* Adjust the size to fit your design */
    flex: 1; /* Ensure the title takes up the available space */
}

.card-title-container .share-icon {
    font-size: 1.5rem; /* Adjust the icon size */
    color: #5cb85c; /* Match your design's color scheme */
    cursor: pointer; /* Show a pointer cursor to indicate interactivity */
}

/* BUTTON STYLING */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-disabled {
    background-color: #6c757d;
    color: #fff;
    cursor: not-allowed;
}

/* Flash Message Styles */
.flash-message {
    position: relative;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px; /* Ensure flash messages have a small gap below the navbar */
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.alert-warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
}

.alert-info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
}



/*TABLE STYLING */
/* Ensure table header has a border */
.table thead th {
    border-top: 2px solid #dee2e6; /* Add a visible top border */
    border-bottom: 2px solid #dee2e6; /* Consistent bottom border */
    background-color: #f8f9fa; /* Optional: Light gray background for headers */
    text-align: center; /* Center align text */
    padding: 10px; /* Adjust padding */
}

/* Ensure all table cells have borders */
.table td, 
.table th {
    border: 1px solid #dee2e6; /* Add borders around cells */
}

/* Optional: Customize hover effect for rows */
.table tbody tr:hover {
    background-color: #f1f3f5; /* Subtle hover effect */
}

/* Make the table look more structured */
.table {
    border-collapse: collapse; /* Ensure borders don't overlap */
    width: 100%; /* Full width */
    margin: 20px 0; /* Add spacing above and below the table */
}

.spacing-controls {
    margin-bottom: 20px; /* Adjust this value for more/less spacing */
  }

  /* DataTable Controls Spacing */
.dataTables_wrapper .dataTables_length {
    float: left;
    margin-bottom: 20px; /* Adjust for more space */
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    margin-bottom: 20px; /* Adjust for more space */
}

/* Clearfix for Flex Alignment */
.dataTables_wrapper .dataTables_length, 
.dataTables_wrapper .dataTables_filter {
    clear: both;
}


@media (max-width: 768px) {
    /* Hide specific columns for smaller screens */
    th:nth-child(3), td:nth-child(3),  /* Google Meet URL */
    th:nth-child(7), td:nth-child(7), /* Payment Comment */
    th:nth-child(8), td:nth-child(8)  /* Payment Confirmed */
    {
        display: none;
    }

    /* Ensure table cells wrap content */
    td {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.full-description {
    display: none;
}



/* Star Rating Container */
.star-rating {
    display: flex;
    flex-direction: row-reverse; /* Reverse the visual order */
    justify-content: center;
}

/* Hide the radio buttons */
.star-rating input {
    display: none;
}


/* Style the stars */
.star-rating label {
    font-size: 2em; /* Adjust star size */
    color: #ccc; /* Default star color */
    cursor: pointer; /* Pointer cursor on hover */
    transition: color 0.2s ease-in-out; /* Smooth color transition */
    padding: 0 5px; /* Increase clickable area */
    display: inline-block;
}


/* Highlight stars on hover */
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ffc107; /* Gold on hover */
}

/* Highlight stars for the selected rating */
.star-rating input:checked + label,
.star-rating input:checked + label ~ label {
    color: #ffc107; /* Gold for selected stars */
}

/* Highlight stars on hover */
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ffc107; /* Gold on hover */
}

/* Highlight stars for the selected rating */
.star-rating input:checked + label,
.star-rating input:checked + label ~ label {
    color: #ffc107; /* Gold for selected stars */
}


.badge {
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 12px;
    color: white;
}

.badge.bg-danger {
    background-color: #dc3545; /* Red for notifications */
}


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.main-error-page {
  min-height: 600px;
  margin: 0px auto;
  width: auto;
  max-width: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.error-title {
  max-width: 529px; 
  font-family: Roboto;
  font-size: 38px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4b4b62;
  margin-bottom: 16px;
}

.error-subtitle {
  max-width: 568px; 
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: #4b4b62;
  margin-bottom: 24px;
}
svg {
  margin-bottom: 16px;
}


.full-torradeira {
   
}
.torradeira {
}

.pao-atras {
  animation: leftright 1s alternate infinite;
  transform-origin: center;
}
.pao-frente {
    animation: leftright 1s 0.3s alternate infinite;
  transform-origin: center;
}

.olho-esq {
  
    animation: sad 2s alternate infinite;
  transform-origin: center;
}

.olho-dir {
  
    animation: sad 2s alternate infinite;
  transform-origin: center;
}
.boca {
    animation: sad 2s alternate infinite;
  transform-origin: center;
}
.raios {
  -webkit-animation: flicker-4 4s linear infinite both;
  animation: flicker-4 4s linear infinite both;
}
.tomada {
  -webkit-animation: vibrate-1 3s linear infinite both;
	        animation: vibrate-1 3s linear infinite both;
}
.fio-500 {
  -webkit-animation: vibrate-1 3s linear infinite both;
	        animation: vibrate-1 3s linear infinite both;
}
.fio{ 
  -webkit-animation: vibrate-1 3s linear infinite both;
	        animation: vibrate-1 3s linear infinite both;
}

@keyframes scales {
  from {
    transform: scale(0.98);
  }
  to {
    transform: scale(1);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-1 14:58:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flicker-4
 * ----------------------------------------
 */
@-webkit-keyframes flicker-4 {
  0%,
  100% {
    opacity: 1;
  }
  31.98% {
    opacity: 1;
  }
  32% {
    opacity: 0;
  }
  32.8% {
    opacity: 0;
  }
  32.82% {
    opacity: 1;
  }
  34.98% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  35.7% {
    opacity: 0;
  }
  35.72% {
    opacity: 1;
  }
  36.98% {
    opacity: 1;
  }
  37% {
    opacity: 0;
  }
  37.6% {
    opacity: 0;
  }
  37.62% {
    opacity: 1;
  }
  67.98% {
    opacity: 1;
  }
  68% {
    opacity: 0;
  }
  68.4% {
    opacity: 0;
  }
  68.42% {
    opacity: 1;
  }
  95.98% {
    opacity: 1;
  }
  96% {
    opacity: 0;
  }
  96.7% {
    opacity: 0;
  }
  96.72% {
    opacity: 1;
  }
  98.98% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  99.6% {
    opacity: 0;
  }
  99.62% {
    opacity: 1;
  }
}
@keyframes flicker-4 {
  0%,
  100% {
    opacity: 1;
  }
  31.98% {
    opacity: 1;
  }
  32% {
    opacity: 0;
  }
  32.8% {
    opacity: 0;
  }
  32.82% {
    opacity: 1;
  }
  34.98% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  35.7% {
    opacity: 0;
  }
  35.72% {
    opacity: 1;
  }
  36.98% {
    opacity: 1;
  }
  37% {
    opacity: 0;
  }
  37.6% {
    opacity: 0;
  }
  37.62% {
    opacity: 1;
  }
  67.98% {
    opacity: 1;
  }
  68% {
    opacity: 0;
  }
  68.4% {
    opacity: 0;
  }
  68.42% {
    opacity: 1;
  }
  95.98% {
    opacity: 1;
  }
  96% {
    opacity: 0;
  }
  96.7% {
    opacity: 0;
  }
  96.72% {
    opacity: 1;
  }
  98.98% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  99.6% {
    opacity: 0;
  }
  99.62% {
    opacity: 1;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2020-4-1 15:17:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}



/* ----------------------------------------------
 * Generated by Animista on 2020-4-1 15:42:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-ver-right
 * ----------------------------------------
 */
@-webkit-keyframes wobble-ver-right {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateY(-30px) rotate(6deg);
            transform: translateY(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateY(15px) rotate(-6deg);
            transform: translateY(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateY(-15px) rotate(3.6deg);
            transform: translateY(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateY(9px) rotate(-2.4deg);
            transform: translateY(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateY(-6px) rotate(1.2deg);
            transform: translateY(-6px) rotate(1.2deg);
  }
}
 

@keyframes sad {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(10deg)  rotateY(5deg);
  }
}

@keyframes leftright{
  
  0%{
    transform: rotateZ( 0deg)
  }
   100%{
    transform: rotateZ( -15deg)
  }
}