{% extends "base.html" %}
{% block title %}Edit Event{% endblock %}
{% block content %}
<h2>Edit Event</h2>
<div class="card shadow-lg p-4">

    <form action="{{ url_for('edit_event', event_id=event.id) }}" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Event Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ event.title }}" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" required>{{ event.description }}</textarea>
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date" value="{{ event.date.date() }}" required>
        </div>
        <div class="mb-3">
            <label for="hour" class="form-label">Hour</label>
            <input type="time" class="form-control" id="hour" name="hour" value="{{ event.date.time().strftime('%H:%M') }}" required>
        </div>
        <div class="mb-3">
            <label for="timezone" class="form-label">Timezone</label>
            <select class="form-control" id="timezone" name="timezone" required>
                {% for tz in timezones %}
                <option value="{{ tz }}" {% if event.tz_name and tz == event.tz_name %}selected{% endif %}>{{ tz }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="mb-3">
            <label for="event_price" class="form-label">Event Price</label>
            <input type="number" class="form-control" id="event_price" name="event_price" value="{{ event.price }}" required>
        </div>
        <div class="mb-3">
            <label for="event_currency" class="form-label">Event currency</label>
            <input type="text" class="form-control" id="event_currency" name="event_currency" value="{{ event.currency }}" placeholder="Enter event currency" required>
        </div>
        <div class="mb-3">
            <label for="iban" class="form-label">Payment address</label>
            <textarea class="form-control" id="event_paymentaddress" name="event_paymentaddress" placeholder="enter payment address"
            rows="1" required>{{ event.paymentaddress }}</textarea>      
        </div>
        <div class="mb-3">
            <label for="max_attendees" class="form-label">Max Attendees</label>
            <input type="number" class="form-control" id="max_attendees" name="max_attendees" value="{{ event.max_attendees }}" required>
        </div>
        <div class="mb-3">
            <label for="event_meeting_link" class="form-label">Event Meeting Link</label>
            <input type="url" class="form-control" id="event_meeting_link" name="event_meeting_link" value="{{ event.event_meeting_link }}" required>
        </div>
        <div class="mb-3">
            <label for="payment_email_title" class="form-label">Payment Email Title</label>
            <input type="text" class="form-control" id="payment_email_title" name="payment_email_title" value="{{ event.payment_email_title }}" required>
        </div>
        <div class="mb-3">
            <label for="payment_email_body" class="form-label">Payment Instructions Email</label>
            <textarea class="form-control" id="payment_email_body" name="payment_email_body" rows="6" required>{{ event.payment_email_body }}</textarea>
        </div>
        <!-- <div class="form-check mb-3">
            <input 
                class="form-check-input" 
                type="checkbox" 
                id="dont_send_confirmation" 
                name="dont_send_confirmation" 
                value="1"
                {% if event.dont_send_confirmation %}checked{% endif %}>
            <label class="form-check-label" for="dont_send_confirmation">
                Don't send confirmation mail
            </label>
        </div> -->
        <div class="mb-3">
            <label for="confirmation_email_title" class="form-label">Confirmation Email Title</label>
            <input type="text" class="form-control" id="confirmation_email_title" name="confirmation_email_title" value="{{ event.confirmation_email_title }}" required>
        </div>
        <div class="mb-3">
            <label for="confirmation_email_body" class="form-label">Confirmation Email Body</label>
            <textarea class="form-control" id="confirmation_email_body" name="confirmation_email_body" rows="6" required>{{ event.confirmation_email_body }}</textarea>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
        <p></p>
        <div class="d-grid">
            {% if event.user_id == current_user.id %}
            <button class="btn btn-danger" onclick="confirmDelete('{{ url_for('delete_event', event_id=event.id) }}')">Delete Event</button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
