{% extends "base.html" %}

{% block title %}Online meetings{% endblock %}

{% block content %}


<div class="container my-3">
    <h5>Total platform users: {{ total_users }}</h5>
</div>

<a href="{{ url_for('home') }}" class="unstyled-link">
    <h1 class="text-center mb-4">Online meetings</h1>
</a>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div id="filters-container" class="filters-container d-flex justify-content-between align-items-center flex-wrap mb-3">
        <!-- Search Bar -->
        <form method="GET" action="{{ url_for('home') }}" class="d-flex align-items-center me-3">
            <input type="text" name="search" class="form-control me-2" placeholder="Search events..." value="{{ query }}">
            <button type="submit" class="btn btn-success">Search</button>
        </form>

        <!-- Filter by Date -->
        <div class="d-flex align-items-center me-3">
            <input type="text" id="dateFilter" class="form-control me-2" placeholder="Select a date">

            <!-- Filter meetings I'm attending -->
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('home', filter='attending') }}" class="btn btn-success w-100">My meetings</a>
            {% endif %}
        </div>
    </div>
</div>


<!-- host statistics : users can rate -->
{% if current_user.is_authenticated and attendee and attendee.attending %}
<div class="rating">
    <label for="rate-event">Rate this event:</label>
    <div id="rate-event" class="stars">
        {% for star in range(1, 6) %}
            <i class="fa fa-star" 
               data-rating="{{ star }}" 
               onclick="rateEvent('{{ event.id }}', {{ star }})"></i>
        {% endfor %}
    </div>
</div>
{% endif %}


<div class="row row-cols-1 row-cols-md-3 g-4">

    {% for event in events %}
    <div class="col event-card" id="event-{{ event.id }}" data-attending="{{ 'true' if event.is_attending else 'false' }}">
        <div class="card h-100 shadow">
            <div class="card-body">
                <div class="card-title-container d-flex justify-content-between align-items-center">
                    <h5 class="card-title">{{ event.title }}
                        <br><span>{{ event.date.strftime('%Y-%m-%d %H:%M') }}</span>
                    </h5>
                    <i class="fa fa-share-alt share-icon"                
                    data-title="{{ event.title }}" 
                    data-description="{{ event.description }}" 
                    data-url="{{ url_for('home', _external=True) }}#event-{{ event.id }}"
                    data-date="{{ event.date.strftime('%Y-%m-%d %H:%M %Z') }}"
                    data-meeting-url="{{ event.event_meeting_link }}" 
                    aria-hidden="true"></i>
                </div>
                <p class="card-text">
                    <small>
                        Host: 
                        <a href="{{ url_for('home', search='host:' ~ event.organizer.username) }}">{{ event.organizer.username }}</a>
                    </small>
                    <small>                        
                        <a href="{{ url_for('host_profile', host_username=event.organizer.username) }}"> | Rating </a>
                    </small>
                </p>
                <p class="card-text">
                    <small>
                        <span class="description" id="description-{{ event.id }}">
                            {{ event.description[:250] }}{% if event.description|length > 100 %}... <a href="#" class="read-more" data-event-id="{{ event.id }}">Read more</a>{% endif %}
                        </span>
                        <span class="full-description" id="full-description-{{ event.id }}" style="display: none;">
                            {{ event.description }} <a href="#" class="read-less" data-event-id="{{ event.id }}">Read less</a>
                        </span>
                    </small>
                </p>
                <p class="card-text">
                    <small>Date: <span >{{ event.date.strftime('%Y-%m-%d %H:%M') }} {{event.tz_name}}</span></small>
                </p>
                <p class="card-text"><small>Duration (minutes): {{ event.duration }}</small></p>
                <p class="card-text"><small>Price: {{ event.price }} {{ event.currency }}</small></p>
                <p class="card-text"><small>Attendees: {{ event.attendees|selectattr('attending', 'equalto', True)|list|length }} / {{ event.max_attendees }}</small></p>
                <p class="card-text"><small>Language: {{ event.event_language }}</small></p>
    
                {% if current_user.is_authenticated %}
                    {% set attendee = event.attendees|selectattr('user_id', 'equalto', current_user.id)|first %}
                    {% if attendee and attendee.attending %}
                        <p class="card-text">
                            <small>Meeting Link: 
                                <a href="{{ event.event_meeting_link }}" target="_blank">{{ event.event_meeting_link }}</a>
                            </small>
                        </p>
                    {% endif %}
                {% endif %}
            </div>
            
            <!-- Hidden indicator for filter functionality -->
            <p class="attending-info" 
            data-attending="{{ 'true' if event.is_attending else 'false' }}" 
            data-pending="{{ 'true' if event.attendees|selectattr('user_id', 'equalto', current_user.id)|selectattr('attending', 'equalto', False)|list|length > 0 else 'false' }}" 
            hidden>


            <!-- Calendar Links Section -->
            <!-- Calendar Links Section -->
            {% if current_user.is_authenticated and attendee and attendee.attending %}
                <div class="calendar-links-container">
                    <!-- Google Calendar Link -->
                    <a href="https://calendar.google.com/calendar/r/eventedit?text={{ event.title|urlencode }}&dates={{ event.local_date.strftime('%Y%m%dT%H%M%S%z') }}/{{ (event.local_date + timedelta(minutes=event.duration)).strftime('%Y%m%dT%H%M%S%z') }}&details={{ 'Meeting Link: ' + event.event_meeting_link + ' | ' + event.description|urlencode }}&location=Online"
                    target="_blank">
                        <i class="fa fa-calendar" aria-hidden="true"> Add to Google Calendar</i>
                    </a>
                    <br>
                    <!-- Outlook Calendar Link -->
            <!-- Outlook Calendar Link -->
            <a href="{{ event.outlook_calendar_url }}" target="_blank" class="calendar-link">
                <i class="fa fa-calendar attend-online-meeting-btn" aria-hidden="true"> Add to Outlook Calendar</i>
            </a>
            <!-- <p>Debug: {{ event.outlook_calendar_url }}</p> -->
                </div>
            {% endif %}




    
            <!-- Footer Section -->
            <div class="card-footer text-center">
                {% set current_time = datetime.utcnow().replace(tzinfo=pytz.UTC) %}
                {% set event_time_utc = event.date %}
                {% if event_time_utc < current_time %}
                    <button class="btn btn-disabled" disabled>Event Ended</button>
                {% elif event.is_closed %}
                    <button class="btn btn-disabled" disabled>Event closed</button>
                {% elif current_user.is_authenticated and attendee %}
                    {% if not attendee.attending %}
                        <button class="btn btn-warning" disabled>Pending Confirmation, see Payment mail</button>
                    {% else %}
                        <button class="btn btn-disabled" disabled>Attendance confirmed</button>
                    {% endif %}
                {% else %}
                    <button 
                        class="btn btn-success attend-online-meeting-btn" 
                        onclick="confirmAttendance('{{ url_for('attend_event', event_id=event.id) }}')" 
                        data-event-id="{{ event.id }}" 
                        data-dont-send-confirmation="{{ 'true' if event.dont_send_confirmation else 'false' }}">
                        Attend online meeting
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    

</div>
{% endblock %}

