{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="card shadow-lg p-4" style="width: 400px;">
        <h2 class="text-center mb-4">Register</h2>
        <form method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Name</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your name" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="mb-3">
                <label for="birthdate" class="form-label">Birthdate</label>
                <input type="date" class="form-control" id="birthdate" name="birthdate" required>
            </div>
            <label for="user_timezone">Timezone</label>
            <select class="form-control" id="preferred_timezone" name="preferred_timezone">
                {% for tz in timezones %}
                    <option value="{{ tz }}" {% if tz == current_user.preferred_timezone %}selected{% endif %}>
                        {{ tz }}
                    </option>
                {% endfor %}
            </select>
            <p><div class="d-grid">
                <button type="submit" class="btn btn-success">Register</button>
            </div></p>
        </form>
    </div>
</div>
{% endblock %}
